li {
  display: inline;
  padding: 15px;
  margin-left: 210px;
}

a {
  font-size: 20;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home-testimonial {
  background-color: orange;
  height: 440px
}

.home-testimonial-bottom {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  height: 130px;
  top: 190px
}

.home-testimonial h3 {
  color: var(--orange);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase
}

.home-testimonial h2 {
  color: white;
  font-size: 28px;
  font-weight: 700
}

.testimonial-inner {
  position: relative;
  top: -174px
}

.testimonial-pos {
  position: relative;
  top: 24px
}

.testimonial-inner .tour-desc {
  border-radius: 5px;
  padding: 40px
}

.color-grey-3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: #6c83a2
}

.testimonial-inner img.tm-people {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none
}

.link-name {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: #6c83a2
}

.link-position {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  color: #6c83a2
}
.w3-example{background-color:#ffffff;border-radius:15px;padding:0.01em 16px;margin:20px 0;box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.w3-code{border-left:4px solid #42de93;}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}